apiVersion: apps/v1
kind: Deployment
metadata:
  name: wasm-demo
spec:
  selector:
    matchLabels:
      app: wasm-demo
  template:
    metadata:
      labels:
        app: wasm-demo
    spec:
      containers:
        - name: wasm-demo
          image: dkoacr.azurecr.io/wasm-demo:v0.0.0
          command: []
      tolerations:
        - key: "kubernetes.io/arch"
          operator: "Equal"
          value: "wasm32-wasi"
          effect: "NoExecute"
        - key: "kubernetes.io/arch"
          operator: "Equal"
          value: "wasm32-wasi"
          effect: "NoSchedule"
      imagePullSecrets:
        - name: demo-wasi-secret